<div>
  <cdk-virtual-scroll-viewport itemSize="50" class="messages-viewport">
    <mat-list *cdkVirtualFor="let msg of messages$">
      <mat-list-item class="message-item" [matTooltip]="msg.date | date: 'hh:mm:ss'"
                     matTooltipPosition="before"
                     [class.message-user]="username === msg.username">
        <p style="font-size: 0.7em; opacity: 0.5;" mat-line>{{msg.username}}</p>
        <p style="height: auto" class="message-text" mat-line>{{msg.message}}</p>
      </mat-list-item>
    </mat-list>
  </cdk-virtual-scroll-viewport>
  <form>
    <mat-form-field class="message-input">
      <input matInput placeholder="Enter message" id="input" type="text" [(ngModel)]="message" name="message">
    </mat-form-field>
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
