.messages-viewport {
  width: 25vw;
  height: 55vh;
  border: 1px solid #666666;
}

.message-item {
  margin-bottom: 20px;
}

.message-user {
  text-align: right;
}

.message-input {
  width: 20vw;
}

::ng-deep .mat-list .mat-list-item .mat-line {
  word-break: break-all;
  white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
  height:initial!important;
}
