#news-container {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.news {
  height: 128px;
  width: 100%;
  padding: 10px;
}

.news-pic {
  width: 256px;
  clear: both;
  float: left;
  background-color: grey;
  transition: transform 0.2s, outline-width 0.1s ease-in-out;
}

.news:hover .news-pic {
  transform: scale(1.02);
  outline: solid 2px;
}

.news-text {
  padding-left: 10px;
  float: left;
  width: 80%;
}

.news-title {
  color: #8e7f22;
  padding: 5px;
  height: 32px;
  overflow: hidden;
}

.news:hover .news-text {
  filter: brightness(200%);
}

.news-content {
  color: dimgrey;
  padding: 5px;
  height: 48px;
  font-size: 15px;
  overflow: hidden;
}

.news-timestamp {
  color: dimgrey;
  padding: 5px;
  font-size: 12px;
  overflow: hidden;
}
