#user-img {
  display: block;
  margin: 10% auto 10% auto;
}

#login-input-un {
  width: 50%;
  display: block;
  margin: 20px auto 20px auto;
}

#login-input-pw {
  width: 50%;
  display: block;
  margin: 20px auto 20px auto;
}

#login-button {
  width: 50%;
  display: block;
  margin: 20px auto 20px auto;
}

::ng-deep #login-cointainer .mat-tab-labels{
  justify-content: center;
}

#error-message {
  color: red;
  width: 50%;
  display: block;
  margin: 20px auto 20px auto;
}

#username, #roles, #token, #token-type {
  word-break: break-word;
  margin: 10px;
}

#logout-button {
  margin: 10px;
}
