.games-viewport {
  width: 70vw;
  height: 80vh;
  border: 1px solid #666666;
}

a {
  width: 100%;
}

.games-creation-form {
  width: 20vw;
  display: block;
  margin: 20px auto 20px auto;
}

#error-message {
  color: red;
}

::ng-deep .mat-list .mat-list-item .mat-line {
  word-break: break-all;
  white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
  height:initial!important;
}

mat-grid-list {
  height: 86vh;
}
