<mat-grid-list cols="4" rowHeight="fit">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <form>
      <mat-form-field class="games-creation-form">
        <input (keyup)="onUsernameFilterUpdate()" matInput placeholder="Filter by username" [(ngModel)]="usernameFilter"
               name="usernameFilter">
      </mat-form-field>
    </form>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="3">
    <cdk-virtual-scroll-viewport itemSize="50" class="games-viewport">
      <mat-list *cdkVirtualFor="let game of games$">
        <mat-list-item [matTooltip]="game.created | date: 'dd.MM.yyyy hh:mm:ss'"
                       matTooltipPosition="before">
          <a [routerLink]="game.secondPlayer ? [] : [game.gameId]" class="game-element" [disabled]="game.secondPlayer"
             mat-stroked-button>
            <p style="font-size: 0.7em; opacity: 0.5;" mat-line> Id:{{game.gameId}} {{game.firstPlayer}}
              ({{game.firstPlayerPieceCode}})</p>
            <p style="height: auto" mat-line>Players: {{game.secondPlayer ? '2/2' : '1/2'}}
              Status: {{game.gameStatus}}</p>
          </a>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <form>
      <mat-form-field class="games-creation-form">
        <mat-select placeholder="Game type" [formControl]="gameTypes">
          <mat-option *ngFor="let gameType of gameTypesList" [value]="gameType">{{gameType}}</mat-option>
        </mat-select>
        <mat-error *ngIf="gameTypes.invalid">Choose game type</mat-error>
      </mat-form-field>

      <mat-form-field class="games-creation-form">
        <mat-select placeholder="Circle or cross" [formControl]="pieceCodes">
          <mat-option *ngFor="let pieceCode of pieceCodesList" [value]="pieceCode">{{pieceCode}}</mat-option>
        </mat-select>
        <mat-error *ngIf="pieceCodes.invalid">Choose piece code</mat-error>
      </mat-form-field>

      <button mat-raised-button class="games-creation-form" color="primary" (click)="createNewGame()">
        Create game
      </button>

      <div *ngIf="isCreatingGameError" class="games-creation-form error-message">{{creatingErrorMessage}}</div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
