.games-viewport {
  height: 400px;
  width: 40%;
  border: 1px solid #666666;
}

a {
  width: 100%;
}

::ng-deep .mat-list .mat-list-item .mat-line {
  word-break: break-all;
  white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
  height:initial!important;
}
