<mat-grid-list cols="4" rowHeight="fit">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <form>
      <mat-form-field class="games-creation-form">
        <input (keyup)="onUsernameFilterUpdate()" matInput placeholder="Filter by username" [(ngModel)]="usernameFilter"
               name="usernameFilter">
      </mat-form-field>
    </form>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="3">
    <cdk-virtual-scroll-viewport itemSize="50" class="games-viewport">
      <mat-list *cdkVirtualFor="let game of games$">
        <mat-list-item [matTooltip]="game.created | date: 'dd.MM.yyyy hh:mm:ss'"
                       matTooltipPosition="before">
          <a [routerLink]="game.secondPlayer || game.gameType === 'SINGLEPLAYER' ? [] : [game.gameId]" class="game-element" [disabled]="game.secondPlayer || game.gameType === 'SINGLEPLAYER' "
             mat-stroked-button>
            <h4 style="opacity: 0.5;" mat-line>
              {{game.gameType === 'MULTIPLAYER' ? game.secondPlayer ? 'FULL' : '1/2' : ''}}
              {{game.gameType}}
              <span> ({{game.gameStatus}})</span>
            </h4>
            <p *ngIf="game.gameType === 'MULTIPLAYER'" style="height: auto" mat-line>
              {{game.firstPlayer}} ({{game.firstPlayerPieceCode}})
              {{game.secondPlayer ? game.firstPlayerPieceCode.toLowerCase() === 'x' ? 'vs ' + game.secondPlayer + '(O)' : 'vs ' + game.secondPlayer + '(X)' : ''}}
            </p>
            <p *ngIf="game.gameType === 'SINGLEPLAYER'" style="height: auto" mat-line>
              {{game.firstPlayer}} ({{game.firstPlayerPieceCode}})
              {{game.firstPlayerPieceCode.toLowerCase() === 'x' ? 'vs ' + 'AI (O)' : 'vs AI (X)' }}
            </p>
          </a>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <form>
      <mat-form-field class="games-creation-form">
        <mat-select placeholder="Game type" [formControl]="gameTypes">
          <mat-option *ngFor="let gameType of gameTypesList" [value]="gameType">{{gameType}}</mat-option>
        </mat-select>
        <mat-error *ngIf="gameTypes.invalid" i18n>Choose game type</mat-error>
      </mat-form-field>

      <mat-form-field class="games-creation-form">
        <mat-select placeholder="Circle or cross" [formControl]="pieceCodes">
          <mat-option *ngFor="let pieceCode of pieceCodesList" [value]="pieceCode">{{pieceCode}}</mat-option>
        </mat-select>
        <mat-error *ngIf="pieceCodes.invalid" i18n>Choose piece code</mat-error>
      </mat-form-field>

      <button mat-raised-button class="games-creation-form" color="primary" (click)="createNewGame()" i18n>
        Create game
      </button>

      <div *ngIf="isCreatingGameError" class="games-creation-form error-message">{{creatingErrorMessage}}</div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
