mat-grid-list {
  height: 85vh;
}

button, p {
  width: 10vw;
  display: block;
  margin: 20px 35px 20px 35px;

  word-break: break-all;
}

svg {
  width: 60vw;
  height: 80vh;
  margin: 10px;
  border: 1px solid #666666;
}
