#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#title {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#sidenav-button {
  position: absolute;
  right: 10px;
}

#style-button {
  position: absolute;
  right: 150px;
}

#sidenav-container {
  height: 100%;
}

.status-connecting {
  color: yellow;
}

.status-open {
  color: lightgreen;
}

.status-closed {
  color: red;
}
