#register-input-username, #register-input-email, #register-input-role, #register-input-password, #register-input-re-password, #register-button {
  width: 50%;
  display: block;
  margin: 20px auto 20px auto;
}

#error-message {
  color: red;
  width: 50%;
  display: block;
  margin: 20px auto 20px auto;
}
