@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  background-color: #303030;
  color: #cfcbce;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
