#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#title {
  flex: 1 1 auto;
  text-align: center;
}

#sidenav-button {
  position: absolute;
  right: 10px;
}

#sidenav-container {
  height: 100%;
}

#sidenav {
  width: 40%;
}
